{% extends "main/layout/layout.html" %}

{% block title %}Add post{% endblock %}

{% block content %}

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <div class="card shadow-sm">
                <div class="card-body" style="display:flex; flex-direction:column;">

                    <h2 class="mb-4 text-center">Add post</h2>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Post title</label>
                            {{ form.title }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Post body</label>
                            {{ form.body }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Kategoria:</label>
                            {{ form.post_type }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Image</label>
                            {{ form.image }}
                        </div>

                        <button class="btn btn-success">
                            Add post
                        </button>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}