{% extends "main/layout/layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0 text-white">Forum</h1>

    <!--przycisk dodawania postu widoczny tylko dla uzytkownikow-->
        {% if user.is_authenticated %}
            <a class="btn btn-success" href="/forum/add/">
            + Add post
            </a>
        {% endif %}
</div>

<!-- POSTY NA FORUM -->

{% for post in posts %}

<div class="card mb-4 shadow-sm position-relative">
    <div class="card-body">
         <!--Jesli to autor postu, to bedzie ikonka kosza na usuniecie posta-->
        {% if user == post.author %}
            <a href="{% url 'delete_post' post.id %}"
            class="text-danger fs-5 ms-auto"
            style="position:absolute; top:15px; right:15px; font-size:18px;"
            onclick="return confirm('Delete this post?')">
            <i class="fa-solid fa-trash"></i>
            </a>
        {% endif %}

        <div class="row">

            <!-- LEWA STRONA - ZDJĘCIE -->
            {% if post.image %}
            <div class="col-md-4">
                <img src="{{ post.image.url }}"
                     class="img-fluid rounded"
                     style="width:100%; height:250px; object-fit:cover;">
            </div>
            {% endif %}

            <!-- PRAWA STRONA - TREŚĆ -->
            <div class="col-md-8">

                <!-- UŻYTKOWNIK -->
                <div class="d-flex align-items-center mb-2 w-100">

                    <div style="width:40px;height:40px;background:#ddd;border-radius:50%;margin-right:10px;"></div>

                    <div>
                        <strong>{{ post.author.username }}</strong><br>
                        <small class="text-muted">{{ post.published_at }}</small>
                    </div>
                        
                      <!-- PRAWA STRONA -->                  
                </div>

                <h5 class="mb-2">{{ post.title }}</h5>

                <p class="card-text">
                    {{ post.body }}
                </p>

            </div>

        </div>

        <hr>

        <!-- PRZYCISKI -->
        <div class="d-flex gap-3">

            <button class="btn btn-outline-primary btn-sm">
                <i class="fa-solid fa-thumbs-up"></i> Like
            </button>

            <button class="btn btn-outline-secondary btn-sm">
                <i class="fa-solid fa-comment"></i> Comment
            </button>

            <button class="btn btn-outline-success btn-sm">
                <i class="fa-solid fa-star"></i> Save recipe
            </button>

        </div>

    </div>
</div>

{% endfor %}

{% endblock %}