/* body {*/
/*    background: #2c2c2c;*/
/*}*/

/*aside {*/
/*    float: left;*/
/*    background: #181818;*/
/*    width: 20%;*/
/*    padding: 2.5%;*/
/*    height: 100vh;*/
/*    color: #fff;*/
/*    border-right: 5px solid #4d4d4d*/
/*}*/

/*aside img {*/
/*    width: 80px;*/
/*    float: left;*/

/*}*/

/*aside .logo {*/
/*    font-size: 40px;*/
/*    margin-left: 10px;*/
/*    font-weight: bold;*/
/*    position: relative;*/
/*    top: -5px;*/
/*}*/

/*aside h3 {*/
/*    margin-top: 50px;*/
/*    font-size: 28px;*/
/*}*/

/*aside ul {*/
/*    list-style: none;*/
/*}*/

/*aside ul li {*/
/*    color: #fff;*/
/*    display: block;*/
/*    margin-top: 20px;*/
/*    transition: transform .6s ease;*/
/*}*/

/*aside ul li:hover, aside ul a:hover {*/
/*    color: #eb5959;*/
/*    text-decoration: none;*/
/*    transform: scale(1.05);*/
/*}*/

/*main .features {*/
/*    float: left;*/
/*    color: #fff;*/
/*    margin-top: 100px;*/
/*    text-align: center;*/
/*    width: 75%;*/
/*}*/

/*main .features h1 {*/
/*    font-size: 50px;*/
/*}*/

/*main .features p {*/
/*    max-width: 400px;*/
/*    margin: 20px auto;*/
/*} */

/* tło strony */
body {
    background: #0f1724;
}

/* karta posta */
.card {
    background-color: #ffffff;
    color: #1f2937;
    border-radius: 12px;
    border: none;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    padding: 10px;
}

/* tytuł posta */
.card-title {
    font-weight: 600;
    font-size: 20px;
    color: #111827;
}

/* tekst posta */
.card-text {
    color: #374151;
    font-size: 16px;
}

/* data / autor */
.post-meta {
    color: #6b7280;
    font-size: 14px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.rating a {
    color: #ccc; /* szare gwiazdki */
    font-size: 20px;
    transition: 0.2s;
    text-decoration: none;
}


.rating a:hover,
.rating a:hover ~ a {
    color: gold;
}

/* hover od lewej */
.rating a:hover i,
.rating a:hover ~ a i {
    color: gold;
}

.comments-box {
    max-height: 200px;   /* wysokość ~3 komentarzy */
    overflow-y: auto;    /* pojawia się scroll */
}
